{# {% block title %}Hello SignupController!{% endblock %} #}

{% block body %}

    <!DOCTYPE html>
    <html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>Itap Sign Up Page | CodingNepal</title>
        <link rel="stylesheet" href="{{ asset('assetsFrontOffice/css/sign.css') }}">
    </head>

    <body>
    <nav>
        <img src="{{ asset('assetsFrontOffice/logo.jpg') }}" alt="Logo" width="150" height="50">
    </nav>
    <div class="form-wrapper">
        <h2>Sign Up</h2>
        {{ form_start(form, {'attr': {'class': 'form', 'method': 'post'}}) }}

        <div class="form-control">
            {{ form_widget(form.fullName, {'attr': {'class': 'input-field', 'placeholder': 'Full Name'}}) }}
            <label for="{{ form.fullName.vars.id }}">Full Name</label>
        </div>

        <div class="form-control">
            {{ form_widget(form.email, {'attr': {'class': 'input-field', 'placeholder': 'Email Address'}}) }}
            <label for="{{ form.email.vars.id }}">Email Address</label>
        </div>

        <div class="form-control">
            {{ form_widget(form.username, {'attr': {'class': 'input-field', 'placeholder': 'Username'}}) }}
            <label for="{{ form.username.vars.id }}">Username</label>
        </div>

        <div class="form-control">
            {{ form_widget(form.plainPassword.first, {'attr': {'class': 'input-field', 'placeholder': 'Password'}}) }}
            <label for="{{ form.plainPassword.first.vars.id }}">Password</label>
        </div>

        <div class="form-control">
            {{ form_widget(form.plainPassword.second, {'attr': {'class': 'input-field', 'placeholder': 'Repeat Password'}}) }}
            <label for="{{ form.plainPassword.second.vars.id }}">Repeat Password</label>
        </div>

        <div class="remember-me">
            <input type="checkbox" id="remember-me">
            <label for="remember-me">I agree to the terms of User</label>
        </div>



        {{ form_end(form) }}

        <div class="form-help">
            <a href="#">Need help?</a>
        </div>
        <p>New to Itap? <a href="#">Sign Up</a></p>
    </div>
    </body>
    </html>

{% endblock %}



