


{% block body %}

    <!DOCTYPE html>
    <html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>Itap Login Page | CodingNepal</title>
        <link rel="stylesheet" href="{{ asset('assetsFrontOffice/css/sign.css') }}"> <!-- Link to your sign.css file -->
    </head>

    <body>
    <nav>
        <img src="{{ asset('assetsFrontOffice/logo.jpg') }}" alt="Logo" width="150" height="50">
    </nav>
    <div class="form-wrapper">
        <h2>log In</h2>
        {% if error %}
            <div class="alert alert-danger" style="color: white; background-color: red; padding: 15px; border-radius: 5px;">
                {{ error.messageKey | trans(error.messageData, 'security') }}
            </div>
        {% endif %}

        <form action="{{ path('security.login') }}" method="post">
            <div class="form-control">
                <input type="text" name="_username" value="{{ last_username }}" required>
                <label>Email or phone number</label>
            </div>
            <div class="form-control">
                <input type="password" name="_password" required>
                <label>Password</label>
            </div>
            <button type="submit">Sign In</button>
        </form>
        <p>did you forgot your password?? <a href={{ path('app_dashboard') }}>click here to reset.</a></p>
        <p>New to Itap? <a href={{ path('security.registration') }}>Sign up now</a></p>

    </div>
    </body>
    </html>

{% endblock %}